body
{
    margin: 0;
    padding: 0;

    overflow: hidden;

    user-select: none;
}

#top-bar
{
    // position: fixed;

    width: 100vw;
    height: 5vmin;
    
    #title-beelden
    {
        position: absolute;

        top: 0;
        margin: 0;

        text-align: center;

        width: 20vmin;
        left: 50vw;

        margin-left: -10vmin;

        font-size: 4vmin;
    }

    #title-makers
    {

        text-align: right;
        float: right;

        left: 85vw;
        top: 0vh;
        
        margin: 0;
        
        margin-right: 1vmin;
    
        font-size: 4vmin;
    }

}


#nav-bar
{
    position: absolute;

    height: 100vh;
    width: 15vw;

    font-size: 1.5vmin;

    li
    {
        list-style-type: armenian;
    }

    // background-color: lightblue;
}


#project-overview
{
    position: absolute;

    width: 70vw;
    height: 100vh;

    left: 15vw;

    overflow-y: scroll;
    overflow-x: hidden;

    display: inline-block;

    background-color: rgba(211, 211, 211, 0.287);

    #project-overview-loading-screen
    {
        position: absolute;

        opacity: 0;

        transition: opacity .2s;

        width: 70vw;
        height: 1000vh;

        background-color: rgb(240, 240, 240);

        #project-overview-loading-text
        {
            // position: absolute;

            margin: 0;
            left: 50vw;
            top: 50vh;
            text-align: center;

            font-size: 5vmin;

            margin-top: 40vh;

            transform: rotate(90deg);

            font-weight: lighter;
        }
    }

    #project-overview-author-info
    {
        margin-bottom: 5vmin;
        img 
        {
            width: 30vw;

            margin: 2vmin;

            margin-bottom: 0;
        }

        
        #author-bio
        {

            display: inline-block;

            vertical-align: top;

            font-size: 1.4vmin;

            width: 30vw;

        }

        #author-verhaal
        {
            clear: left;

            margin: 2vmin;

            font-size: 1.4vmin;
        }
    }

    .project-images
    {
        float: right;

        object-fit: contain;

        align-items: center;

        width: 70vw;
        max-height: 80vmin;

        // margin: 1vmin;
    }

}

#author-list
{
    float: right;

    width: 15vmin;

    height: 100vh;

    overflow: scroll;

    .author-profile
    {
        .author-profile-picture
        {
            width: 15vmin;
            height: 15vmin;
    
            object-fit: cover;

            float: left;

        }
        .author-profile-hover
        {
            position: sticky;

            // top: 

            z-index: 2;

            width: 15vmin;
            height: 15vmin;

            background-color: rgba(37, 37, 37, 0.63);

            opacity: 0;

            transition: opacity .3s;

            text-align: center;

            p 
            {
                align-items: center;
                position: absolute;

                margin-top: 6vw;

                font-size: 2vmin;

                color: white;
                font-weight: lighter;
            }

        }

        .author-profile-hover:active
        {
            border-style: solid;

            border-width: medium;
            box-sizing: border-box;
        }

        
        .author-profile-hover:hover
        {
            opacity: 1;
        }
    }

}
