body
{
    margin: 0;
    padding: 0;

    overflow: hidden;

    user-select: none;
}

#rotate-message
{
    width: 100vw;
    height: 100vh;

    p
    {
        font-size: 6vmin;
        text-align: center;

        height: 10vh;

        margin-top: 50vh - 5vh;
    }
}

#CLOSED
{
    position: absolute;

    transition: opacity 2s, transform 1s;

    text-align: center;
    vertical-align: middle;

    width: 100vw;
    height: 100vh;
    background-color: rgb(250, 81, 81);

    z-index: 2;

    #closed-gesloten
    {
        margin: 0;

        margin-top: 33vh;

        font-size: 20vmin;
        color: rgb(61, 61, 61);
    }

    #opening-date
    {
        // font-size: 2vmin;

        color: rgb(61, 61, 61);

        margin: 0;

        margin-top: 15vh;
    }

    #time-till-opening
    {
        font-weight: bolder;
    }
}

#top-bar
{
    // position: fixed;
    
    width: 100vw;
    height: 5vmin;

    #title-home
    {
        position: absolute;
        top: 0;
        margin: 0;

        font-size: 4vmin;

        margin-left: 1vmin;
    }
    
    #title-beelden
    {
        position: absolute;

        top: 0;
        margin: 0;

        text-align: center;

        width: 20vmin;
        left: 50vw;

        margin-left: -10vmin;

        font-size: 4vmin;
    }

    #title-makers
    {

        text-align: right;
        float: right;

        left: 85vw;
        top: 0vh;
        
        margin: 0;
        
        margin-right: 1vmin;
    
        font-size: 4vmin;
    }

}


#nav-bar
{
    position: absolute;

    height: 100vh;
    width: 15vw;

    // left: -1vmin;

    font-size: 1.5vmin;

    li
    {
        list-style-type: armenian;
    }

    #challenge-uitleg
    {
        // width: 30vw;
        position: absolute;

        top: 20vh;

        width: 10vw;

        font-weight: normal;
    }

    #credits
    {
        position: absolute;

        width: 10vw;

        top: 73vh;

        font-weight: bolder;
    }
}

#home-page
{
    // position: absolute;

    margin-left: 2vmin;
    margin-right: 2vmin;


    font-size: 2.2vmin;
    // font-size: 2vmin;

    font-weight: lighter;

    #tabletoptravels-logo
    {

        font-size: 6vmin;

    }

    #home-info-2
    {
        user-select: text;
    }
}

@media (min-aspect-ratio: 5/3)
{
    #home-page
    {
        margin-left: 5vmin;
        width: 30vw;
    }
}

#project-overview
{
    position: absolute;

    height: 92vh;
    width: 67vw;

    left: 15vw;

    overflow-y: hidden;
    overflow-x: hidden;

    display: inline-block;

    background-color: rgba(211, 211, 211, 0.287);

    #image-counter
    {
        position: absolute;
        float: left;

        left: 2vmin;
        top: 2vmin;

        font-size: 1.8vmin;

        margin: 0;
        padding: .5vmin;
        border-radius: .5vmin;

        background-color: rgba(211, 211, 211, 0.315);

        #image-counter-current
        {
            float: left;
            margin: 0;
        }

        #image-counter-separator
        {
            float: left;
            margin: 0;
        }

        #image-counter-total
        {
            float: left;
            margin: 0;
        }
    }

    #project-overview-loading-screen
    {
        position: absolute;

        opacity: 0;

        transition: opacity .2s;

        width: 70vw;
        height: 100vh;

        background-color: rgb(240, 240, 240);

        user-select: none;

        #project-overview-loading-text
        {
            // position: absolute;

            margin: 0;
            left: 50vw;
            top: 50vh;
            text-align: center;

            font-size: 5vmin;

            margin-top: 40vh;

            transform: rotate(90deg);

            font-weight: lighter;
        }
    }

    #project-overview-author-info
    {
        margin-bottom: 5vmin;

        img 
        {
            width: 30vw;

            margin: 2vmin;

            margin-bottom: 0;
            margin-top: 3vmin;

            margin-left: 8vmin;

            max-height: 60vh;
            object-fit: contain;
            // object-fit: cover;
        }

        #author-texts
        {
            // display: inline-block;
            float: right;

            font-size: 1.4vmin;

            width: 25vw;

            margin-right: 2vmin;
            margin-top: 1vmin;

            #author-bio-title
            {
                font-weight: bolder;
                font-size: 2.1vmin;
            }

            #author-verhaal-title
            {
                font-weight: bolder;
                font-size: 2.1vmin;
            }
        }

        #author-verhaal
        {
            float: right;

            font-size: 1.4vmin;

            width: 30vw;

        }


        #images-overview
        {
            // width: 50vw;

            position: absolute;

            width: 60vw;
            margin-left: 6vw;

            margin-top: 5vmin;

            grid-template-columns: 4;
            grid-template-rows: 4;

            vertical-align: bottom;

            top: 62vmin;

            // filter: ;

            #images-overview-image
            {
                
                float: left;
                margin: 0;
                
                width: 10vmin;
                height: 10vmin;

                opacity: .8;

                object-fit: cover;
            }
        }

        @media (orientation: portrait)
        {
            #images-overview
            {
                top: 70vh;
            }
        }
    }

    .project-images
    {
        vertical-align: middle;

        object-fit: contain;

        margin-top: 1vmin;

        width: 68vw;
        height: 90vh;
    }

    button
    {
        position: absolute;

        transition: opacity .3s;
        opacity: 0;

        width: 5vmin;
        height: 5vmin;

        top: 50vh;
        margin-top: -5vmin;

        font-size: 3vmin;
        font-weight: lighter;

        border-radius: .5vmin;

        background-color: rgba(255, 255, 255, 0.226);
        color: rgb(32, 32, 32);

        border-style: none;
    }

    button:hover
    {
        opacity: 1;
    }

    #project-overview-prev-button
    {
        left: 2vw;
    }

    #project-overview-next-button
    {
        left: 100%;
        
        margin-left: -7vmin;

    }

}

#project-overview:hover button
{
    opacity: 1;
}

#author-list
{
    float: right;

    width: 18vmin;
    height: 95vh;

    // background-color: rgba(141, 141, 141, 0.808);

    overflow: scroll;

    border-radius: .2vmin;

    .author-profile
    {
        width: 14vmin;
        height: 14vmin;

        margin-top: .7vmin;

        margin-left: 2vmin;

        .author-profile-picture
        {
            width: 100%;
            height: 100%;

            margin: 0;
            padding: 0;
            display: block;

            border-radius: 1vmin;

            object-fit: cover;
        }
        .author-profile-hover
        {
            position: relative;

            overflow: hidden;

            display: block;

            border-radius: 1vmin;

            margin: 0;
            padding: 0;

            top: -100%;

            height: 100%;
            width: 100%;

            background-color: rgba(37, 37, 37, 0.63);

            opacity: 0;

            transition: opacity .3s;

            p 
            {
                font-size: 1.8vmin;

                vertical-align: middle;

                margin: 0;
                padding: 0;

                margin: .5vmin;

                color: rgba(255, 255, 255, 0.924);
                font-weight: lighter;
            }

        }

        .author-profile-hover:active
        {
            // border-style: solid;

            border-width: medium;
            box-sizing: border-box;
        }

        
        .author-profile-hover:hover
        {
            opacity: 1;
        }
    }

}
